* {
    margin: 0;
    padding: 0;
}

body 

/* Image */
.side {
    max-width: 400px;
    min-width: 200px;

    height: 750px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
    
/* form */
  

main {
    min-width: 800px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
}

.txt {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}


.form-container {
    margin-bottom: 2em;
    padding: 2rem 2rem;
    background-color: #596d4823;

}

.form-container > p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #596D48;  
}

fieldset {
    border: none;
    display: flex;
    gap: 2rem;
}

.form-cell {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 33%;
}

.form-cell label {
    font-size: 0.8rem;
    font-weight: 800;
    color: #596D48;
}

form input {
    border: 1px solid;
    border-radius: 4px;
    padding: 7px;
    font-size: 12px;
}

.button-area {
    padding-left: 2rem;
}

.button-area a {
    color: #596D48;
    text-decoration: none;
}

.button-area a:hover {
    text-decoration: underline;
    color: #03420c;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

button:hover {
    background-color: #03420c;
}